<div class="col-md-4 col-md-offset-2 well">
    <form name="changePassword">
        <h2>Change Password</h2>
        <fieldset>
            <label for="old-password">Old Password</label>
            <input type="password" minlength="6" maxlength="100" ng-model="changePasswordData.OldPassword" id="old-password" name="old-password" class="form-control display-validation" placeholder="Old Password" required="required" />
            <br />
            <label for="new-password">NewPassword</label>
            <input type="password" minlength="6" maxlength="100" ng-model="changePasswordData.NewPassword" id="new-password" name="new-password" class="form-control display-validation" placeholder="New Password" required="required" />
            <br />
            <label for="confirm-new-password">Confirm NewPassword</label>
            <input type="password" minlength="6" maxlength="100" ng-model="changePasswordData.ConfirmNewPassword" id="confirm-new-password" name="confirm-new-password" class="form-control display-validation" placeholder="New Password" required="required" />
            <br />
            <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid || registerUser.password != changePasswordData.OldPassword || changePasswordData.NewPassword != changePasswordData.ConfirmNewPassword" ng-click="register(registerUser)">Change Password</button>
        </fieldset>
    </form>
</div>