<div class="margin-left20">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Project Lead</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in allProjects" ng-click="goToProject(project.Id)">
                <td>{{project.Name}}</td>
                <td>{{project.Description | limitTo: 20: begin}}</td>
                <td>{{project.Lead.Username}}</td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalItems" ng-model="currentPage" ng-change="reloadProjects()" max-size="maxSize">
    </pagination>
</div>