/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.well {
  margin-top: 100px;
}

.navbar-brand {
  margin-right: 20px;
}

.row > div {
  margin-left: 10%;
}

.row > a {
  float: right;
  margin-left: 20px;
}

.navbar-nav {
  margin-left: 20px;
}

h1 {
  margin-left: 50px;
}

h3 {
  margin-left: 40px;
}

.below-menu-links li {
  text-decoration: none;
  display: inline;
}

footer {
  margin-top: 50px;
  text-align: center;
}

.left-align {
  text-align: left;
}

.ui-notification.success {
  background: #149c82;
}

.min-hight {
  min-height: 400px;
}

.margin-left20 {
  margin-left: 20px;
}

.homeProjects {
  height: 500px;
  overflow-y: scroll;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}